$font: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;

$layer-01: #ffffff;
$layer-hover-01: #e8e8e8;
$layer-02: #f4f4f4;
$layer-selected-inverse: #161616;
$layer-accent-03: #e0e0e0;

$text-secondary: #525252;

$focus: #0f62fe;

$cds-shadow: rgba(0, 0, 0, 0.3);

@import "./main.scss";