$font: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;

$layer-01: #262626;
$layer-hover-01: #333333;
$layer-02: #393939;
$layer-selected-inverse: #f4f4f4;
$layer-accent-03: #6f6f6f;

$text-secondary: #c6c6c6;

$focus: #ffffff;

$cds-shadow: rgba(0, 0, 0, 0.8);

@import "./main.scss";