$font: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;

$layer-01: #393939;
$layer-hover-01: #474747;
$layer-02: #525252;
$layer-selected-inverse: #f4f4f4;
$layer-accent-03: #8d8d8d;

$text-secondary: #c6c6c6;

$focus: #ffffff;

$cds-shadow: rgba(0, 0, 0, 0.8);

@import "./main.scss";